extends layout

block content
    form.pure-form.pure-form-stacked.pure-form-aligned(method='POST')
        fieldset
            label Name:
                input(type='text', name='who', required=true)
            label Link:
                input(type='text', name='link', required=true)
            label Description:
                input(type='text', name='description')
            button(type='submit').pure-button.pure-button-primary Add