extends layout


block content
    div.splash-container
        div.splash
            ul(class='bxslider' style='width:500px')
                li
                    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hausziege_04.jpg/256px-Hausziege_04.jpg' title='goooooat')


    a.pure-button.pure-button-primary(id='add', href='/add') Add


