<!DOCTYPE html>
<html ng-app="contentPresenter">
<head>
    <title>Codziennik nieprojektowy</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <script src="/javascripts/libs.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controller/contentController.js"></script>
    <script src="/javascripts/controller/modalController.js"></script>


</head>
<div ng-controller="contentController">
    <div style="height: 800px">
        <carousel interval="interval">
            <slide ng-repeat="slide in slides | orderBy: '-timestamp'" active="slide.active">
                <img ng-src="{{image}}" style="margin:auto; height:800px;">

                <div class="carousel-caption" style="top:0;">
                    <h4 style="font-size: 50px;">{{slide.what}}</h4>

                    <p style="font-size: 25px; margin-top: 50px">{{slide.description}}</p>

                    <p style="font-size: 20px;"><a href="{{slide.link}}" target="_blank">click me</a></p>

                    <p style="font-size: 15px; text-align: right;">{{slide.who}} {{slide.date}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" ng-click="addSlide()">Share</button>
        </div>
    </div>
    <script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title" style="text-align: center">Share your finding!</h3>
        </div>
        <div class="modal-body">
            <form role="form" method="post" name="addLink">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="true"
                           data-ng-model="who">
                    <!--<div class="dropdown" id="name">-->
                    <!--<a class="btn btn-default" data-toggle="dropdown" href="#" ng-model="users[0].name">{{ users[0].name}} <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li ng-repeat="user in users"><a href="#" ng-click="onUserSelect(user)">{{user.name}}</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter title" required="true"
                           data-ng-model="what">
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" placeholder="Enter link" required="true"
                           data-ng-model="link">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="" class="form-control" id="description" placeholder="Enter description"
                              data-ng-model="description"></textarea>
                </div>
                <button data-ng-click="submit(addLink)" class="btn btn-default">Submit</button>
            </form>
        </div>
    </script>
</div>

</body>
</html>